<div class="page-header">
    <h2>{{heading}}</h2>
</div>

<form class="form-horizontal" id="login-form">
    <div class="row form-group">
        <label for="name" class="col-sm-2 control-label">Benutzername:</label>
        <div class="col-sm-5">
            <input ng-model="user.name" type="text" class="form-control" id="name">
        </div>
    </div>
    <div class="row form-group">
        <label for="password" class="col-sm-2 control-label">Passwort:</label>
        <div class="col-sm-5">
            <input ng-model="user.password" type="text" class="form-control" id="password">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="login()" type="button" class="btn btn-default">Login!</button>
        </div>
    </div>
</form>